@media print {
     html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
     }
}

.navbar-dark {
    background-color: #3fada8;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 1px #333;
}
.printbutton {
	outline: none;
	padding: 10px 20px;
	border-radius: 50px !important;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.feed-input{
    margin: 10px auto;
}
#chatbutton{
    display: inline;
    position: absolute;
    margin-left: 95%;
    margin-right: 10px;
}