@media print {
     html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
     }
}

.navbar-dark {
    background-color: #3fada8;
    padding: 10px;
    font-size: small;
    /* font-family: 'Dancing Script', cursive; */
}

.navbar-dark .container a{
    color: #fff;
    padding: 15px 5px 15px 5px;
}


.navbar-dark .container :hover{
    background-color: #fff ;
    color: #000;
}

.printbutton {
	outline: none;
	padding: 10px 20px;
	border-radius: 50px !important;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.feed-input{
    margin: 10px auto;
}

#chatbutton{
    display: inline;
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 100;
}